################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Phases.Umbraco.NodeFilters/.vs
/Phases.Umbraco.NodeFilters/bin/Debug
/Phases.Umbraco.NodeFilters/buildTransitive
/Phases.Umbraco.NodeFilters/obj
